[Desktop Entry]
Name=Gallery
Comment=Picture gallery
TryExec=gallery
Exec=gallery
Icon=image-x-generic
Type=Application
Categories=Graphics;GTK;
StartupNotify=true
